* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background: #8d99ae;
}
/* icon*/
i {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #c1121f;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100px;
}
i:hover {
  background-color: #780000;
  transition: 0.3s;
}
#basla {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Header/Blog Title */
.header {
  padding: 5%;
  text-align: center;
  background: #edf2f4;
  border-radius: 5px 5px 0px 0px;
}
.canada-logo {
  margin: 0px auto;
  opacity: 1;
}
.canada-logo:hover {
  opacity: 0.8;
  transition: 0.6s;
}
.header a {
  border-radius: 20px;
}
/* Canada Time*/
/* Style the top navigation bar */
.topnav-a {
  overflow: hidden;
  background-color: #c1121f;
  border-radius: 0px 0px 5px 5px;
}

/* Style the topnav links */
#checked-nav {
  background-color: #780000;
  color: white;
}

.topnav-a a {
  width: 20%;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav-a a:hover {
  background-color: #780000;
  color: white;
  transition: 0.6s;
}
/*  */
.topnav-b {
  overflow: hidden;
  background-color: #c1121f;
  border-radius: 20px;
}

/* Style the topnav links */

.topnav-b a {
  width: 20%;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin: 0px auto;
  text-decoration: none;
}
/*SLIDER BAŞLANGIC*/
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
#radio6:checked ~ .first {
  margin-left: -100%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: #40d3dc;
}
#radio6:checked ~ .navigation-auto .auto-btn6 {
  background: #40d3dc;
}
/*SLIDER BİTİŞ*/
/*DÖVİZ KURLARI BAŞLANGIC*/
/*made by akın tiryaki*/

.header-secondary {
  background-color: #063f8c;
}
.header-secondary .header-container .market-data {
  display: flex;
  justify-content: center;
  color: #fff;
}
.header-secondary .header-container .market-data .market-data-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.header-secondary .header-container .market-data .market-data-item .name {
  color: #b1d1fc;
  font-size: 1rem;
}
.header-secondary .header-container .market-data .market-data-item .value {
  font-size: 1.4rem;
}

/*DÖVİZ KURLARI BİTİŞ*/

/* Change color on hover */
.topnav-b a:hover {
  background-color: #780000;
  color: white;
  transition: 0.6s;
}
/* search button */
#search {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0px;
  border: 1px solid black;
  border-radius: 4px;
  float: left;
}
#search-button {
  width: 13%;
  background-color: #c1121f;
  color: white;
  padding: 13px 18px;
  margin: 8px 0px 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#search-button:hover {
  background-color: #780000;
  transition: 0.5s;
}
/* kanda-time */
#saat {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}
#leftcolumn100 {
  width: 100%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #8d99ae;
  padding-left: 20px;
}

/* Fake image */
/* .fakeimg {
  height: 50%;
  width: 100%;
  object-fit: cover;
  padding: 20px 20px 20px 0px;
  margin-bottom: 20px;
} */
#blogİmage {
  width: 30%;
}

/* Add a card effect for articles */
.card {
  background-color: #edf2f4;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* message */
#fname,
#sname,
#email,
#message {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#message-submit {
  width: 80%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #c1121f;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
#message-submit:hover {
  background-color: #780000;
  transition: 0.5s;
}
.footer label {
  font-weight: bold;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
}
iframe {
  width: 100%;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  iframe {
    width: 100%;
    height: 500px;
  }
  #blogİmage {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  #search {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
  }
  #search-button {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
  }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav-a a {
    float: none;
    width: 100%;
  }
  iframe {
    width: 100%;
  }
  #fname,
  #sname,
  #email,
  #message {
    width: 100%;
  }
}
body::-webkit-scrollbar {
  background: #8d99ae;
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-corner {
  background: red;
}
body::-webkit-scrollbar-thumb {
  background: rgb(202, 22, 22);
  border-radius: 6px;
}

.uyeler {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.uye {
  border: 1px solid #8d99ae;
  padding: 10px;
  border-radius: 5px;
  width: 25%;
  background: rgb(202, 22, 22);
  color: white;
}
